= javascript_include_tag "views/search_edit"

#searchEdit

javascript:
  var things = #{raw(@things.to_json)};
  var initialQuery = {
    text: null,
    place_filter: null,
    access_filter: null
  };

  React.renderComponent(
    Sembl.SearchEdit({initialThings: things, initialQuery: initialQuery}),
    document.getElementById('searchEdit')
  );
  

