// Base

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  line-height: 1.4;
}

body {
  @include font-size(16);
  background-color: $background-color;
  background-image: image-url('bg-texture.gif');
  color: $text-color;
  font-family: "Archer A", "Archer B", "Palatino", "Hoefler Text", "Georgia", serif;
  font-weight: normal;
  font-weight: 500;
  height: 100%;
  min-width: 1024px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
  }
}

.main {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 54px;
  z-index: 5;
}

.body-wrapper {
  position: absolute;
  padding-bottom: 61px;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
  .body-wrapper__inner {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 100%;
    // height: 100%;
  }

%wrapper {
  @include pad(vert, mid);
  @include pad(horz, normal);
  max-width: $container-max-width;
  min-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  @extend %wrapper;
  margin-top: 54px;
  width: 100%;
}

// Generic interface elements

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  background-color: #fff;
  border: 1px solid #d8d0bf;
  box-shadow: inset 1px 1px 1px 1px rgba(#666,.1);
  padding: 5px 8px 7px;
  &:focus {
    background-color: lighten($border-color,22%);
    transition-property: background-color;
    transition-duration: 100ms;
  }
}

.button--disabled {
  opacity: .5;
  pointer-events: none;
}

@keyframes flash {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes notice {
  0%, 100% { transform: scale(1.03); }
  50% { transform: scale(1); }
}

.flash,
.notice {
  @include pad(all, small);
  animation-name: flash;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: $highlight-color;
  box-shadow: 0 0 10px 2 rgba(#888,.1);
  color: #fff;
  position: absolute;
  top: 0;
  right: 20px;
  text-shadow: 1px 1px 1px rgba(#000,.3);
  transition-property: right;
  transition-duration: 100ms;
  z-index: 100;
  &.error {
    background-color: #f75454;
  }
}

.notice {
  animation-name: notice;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes alert-grow {
  0, 100% { box-shadow: none; transform: scale(0); }
  50%     { box-shadow: 0 0 20px 0 #fff; transform: scale(1.03); }
}

.alerted {
  animation-name: alert-grow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.footer {
  display: none; // TODO: Remove the actual markup
}

// Sign in

#user_remember_me {
  margin-right: 5px;
}

.sign-in-form,
.sign-up-form {
  @include pad(all, normal);
  background-color: $highlight-background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 5px rgba(#888,.1);
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.sign-in-button,
.sign-up-button {
  @extend %button;
}

.simple_form .field_with_errors {
  background-color: transparent;
  color: red;
  input {
    border: 1px solid red;
  }
}

.simple_form .error {
  @include font-size(14);
  @include pad(top, small);
  color: red;
}

.hidden {
  display: none;
}
