// Base

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.3;
}

body {
  @include font-size(16);
  background-color: $background-color;
  color: $text-color;
  font-family: "Archer", "museo-slab", "Georgia", "Hoefler Text", serif;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
  }
}

.container {
  @include pad(horz, normal);
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}