// Create game/edit game

.games-setup__seed {
  @extend .small-tracked-out-heading;
  @include pad(all, smaller);
  @include inset(right, medium);
  background-color: $highlight-background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 5px rgba(#888,.1);
  float: left;
  text-align: center;
}

.games-setup__seed-image {
  @include inset(vert, small);
  background-color: $background-color;
  border: 3px solid #fff;
  box-shadow: 0 0 2px 2px rgba(#888,.1);
  max-width: 106px;
}

.games-setup__seed-randomise {
  color: $link-color;
  span {
    text-decoration: underline;
  }
  i {
    padding-right: 5px;
    vertical-align: middle;
  }
}

.games-setup__metadata {
  float: left;
}

.games-setup__metadata__title {
  @extend %white-drop-shadow;
  @include font-size(22);
  color: $link-color;
  font-weight: 500;
}

.games-setup__settings {
  @include pad(vert, small);
  float: left;
  margin-right: 20px;
}

.games-setup__settings-title {
  @extend .small-tracked-out-heading;
  @include inset(bottom, small);
}

.games-setup__settings-item {
  margin-bottom: 6px;
  input {
    cursor: pointer;
    margin-right: 6px;
  }
  label {
    @include font-size(14);
    cursor: pointer;
  }
}

.games-setup__board,
.games-setup__players {
  @include pad(all, small);
  background-color: #fcf8f0;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 5px rgba(#888,.1);
  float: left;
}

.games__gallery {
  clear: both;
}

.seed {
  display: inline-block;
  border: 2px solid rgba(255,255,255,0);
  &:hover {
    border: 2px solid #ccc;
  }
  &.selected {
    border: 2px solid #ccc;
  }
}

.choose-gameboard {
  @extend .small-tracked-out-heading;
}