@keyframes pulse {
  0%, 100%  { transform: scale(1); }
  50%       { transform: scale(1.1); }
}

.graph {
  padding: 80px;
  position: relative;
}

.graph__canvas {
  height: 300px;
  width: 100%;
  position: relative;
}
.graph__node,
.graph__links,
.graph__resemblences,
.graph__resemblance {
  position: absolute;
}

.graph__node {
  background-color: #faf0dc;
  border: 2px solid #fff;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 5px rgba(#999,.1);
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  text-align: center;

  &.state-filled {
    background-color: $highlight-background-color;
  }

  &.state-locked {
    background-color: $background-color;
    border: 2px solid #ecdcc6;
    box-shadow: none;
    &:before {
      @extend %white-drop-shadow;
      @include font-size(50);
      font-family: "FontAwesome";
      color: #ecdcc6;
      content: "\f023";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -16px;
      margin-top: -22px;
    }
    img {
      display: none;
    }
  }

  &.state-available {
    border: 2px dashed #b99f7a;
    &:before,
    &:after {
      @extend %white-drop-shadow;
      font-family: "FontAwesome";
      color: #b99f7a;
      position: absolute;
    }
    &:before {
      @include font-size(40);
      content: "\f030";
      top: 50%;
      left: 50%;
      margin-top: -18px;
      margin-left: -22px;
    }
    &:after {
      @include font-size(20);
      content: "\f067";
      top: 25px;
      right: 25px;
    }
    img {
      display: none;
    }
    &:hover {
      box-shadow: 0 0 10px 5px rgba(#000,.1);
      border-color: darken(#b99f7a, 10%);
      &:before,
      &:after {
        color: darken(#b99f7a, 10%);
        animation-name: pulse;
        animation-duration: 500ms;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
      }
    }
  }

  &.state-proposed {
    border: 2px solid $highlight-color;
  }
}

.graph__node__image {
  border-radius: $border-radius-inner;
  width: 100%;
  height: 100%;
}


@keyframes glow {
  0%, 100%    { box-shadow: 0 0 3px 3px $highlight-color; }
  50%         { box-shadow: 0 0 8px 8px $highlight-color; }
}

.graph__resemblance__empty,
.graph__resemblance__filled {
  background-color: $background-color;
  border: 1px solid $highlight-color;
  border-radius: 50%;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  text-indent: -9999em;
}

.graph__resemblance__empty {
  background-color: $background-color;
  border: 1px solid $highlight-color;
  &:hover {
    box-shadow: 0 0 6px 2px rgba(#000,.1);
  }
}

.graph__resemblance__filled {
  background-color: $highlight-color;
  border: 1px solid $highlight-color;
  animation-name: glow;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  &:hover {
    box-shadow: 0 0 10px 4px rgba(#000,.2);
  }
}