// Home

.home__all-games-heading {
  @extend %white-drop-shadow;
  @include font-size(32);
  @include inset(top, huge);
  @include inset(bottom, large);
  @include pad(top, normal);
  // border-top: 1px solid lighten($border-color, 10%);
  font-weight: 700;
  text-align: center;
}

.home__games-hosting-container {
  @extend %clearfix-micro;
  @include pad(vert, smaller);
}

.home__all-games {
  clear: both;
}

.game-individual {
  @include inset(bottom, normal);
  width: 32%;
  margin-right: 2%;
  height: 152px;
  float: left;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.game-individual__wrapper {
  @extend %clearfix-micro;
  @include pad(all, small);
  display: block;
  height: 152px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $background-color;
  padding: 15px;
  img {
    border-radius: $border-radius;
    border: 3px solid #fff;
    box-shadow: 0 0 2px 2px rgba(#888,.1);
    width: 100%;
  }
  &:hover {
    img {
      transition-property: border-color;
      transition-duration: 250ms;
      border-color: #fff;
    }
    .game-individual__play-button {
      transition-property: bottom;
      bottom: 40%;
    }
  }
  &.game-individual__wrapper--playable {
    @extend %highlight-box;
    img {
      border-color: $highlight-color;
    }
    .game-individual__title {
      color: $link-color;
    }
    .game-individual__description {
      &:after {
        @include linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 50%);
      }
    }
    &:hover {
      border: 1px solid darken($border-color, 10%);
      box-shadow: 0 0 10px 5px rgba(#888,.2);
      img {
        border-color: darken($highlight-color, 20%);
      }
    }
  }
}

.game-individual__image-container {
  @include inset(right, normal);
  position: relative;
  float: left;
  overflow: hidden;
  width: 30%;
}

.game-individual__image-container__inner {
  position: relative;
}

.game-individual__play-button {
  @extend %button;
  bottom: -100%;
  box-shadow: 0 0 5px 5px rgba(#fff,.6);
  display: inline-block;
  left: 50%;
  margin-left: -35px;
  position: absolute;
  text-align: center;
  transition-duration: 250ms;
  width: 70px;
}

.game-individual__details-container {
  height: 130px;
  overflow: hidden;
  position: relative;
}

.game-individual__title {
  @extend %clearfix-micro;
  @extend %white-drop-shadow;
  @include font-size(18);
  @include pad(bottom, small);
  font-weight: 500;
}

.game__individual-anchor--title {
  float: left;
  font-weight: bold;
  font-weight: 700;
}

.game-individual__description {
  @include pad(bottom, small);
  line-height: 1.15em;
  height: 5.5em;
  overflow: hidden;
  &:after {
    @include linear-gradient(to bottom, rgba($background-color, 0), rgba($background-color, 1) 50%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
  }
  a {
    height: 100%;
  }
}

.game-individual__edit {
  @extend .small-tracked-out-heading;
  color: $link-color;
  float: left;
  padding-left: 6px;
  padding-top: 3px;
  i {
    padding-left: 2px;
    vertical-align: middle;
  }
}

.game__individual-anchor {
  display: block;
}

.home__new-game-button-container {
  @include inset(bottom, mid);
  float: right;
}
.home__new-game-button-container__inner {
  @extend %highlight-box;
  @include pad(all, smaller);
  display: inline-block;
  text-align: center;
}

.home__new-game-button {
  @extend %button;
  display: block;
  i {
    padding-right: 4px;
  }
}

@media screen and (max-width: 1023px) {
  .home__new-game-button span {
    display: none;
  }
}


// Games nav

.games-nav {
  border: 1px solid lighten($border-color, 15%);
  border-radius: $border-radius;
  float: left;
  a {
    @include pad(all, small);
    border-radius: $border-radius - 1px;
    display: block;
    transition: all 200ms linear;
    &:hover {
      background-color: #fff;
    }
  }
}
  .games-nav__item {
    @include pad(all, small);
    border-right: 1px solid lighten($border-color, 15%);
    float: left;
    &:last-child {
      border: none;
    }
  }
  .games-nav__item--active a {
    background-color: $link-color;
    color: #fff;
    &:hover {
      background-color: darken($link-color, 10%);
    }
  }
