// Home

.home__my-games-heading,
.home__games-hosting-heading,
.home__all-games-heading {
  @extend .large-heading;
}

.home__my-games-container,
.home__all-games-container,
.home__games-hosting-container {
  @extend %clearfix-micro;
  @include pad(vert, smaller);
}

.game-individual {
  @include inset(bottom, normal);
  width: 32%;
  margin-right: 2%;
  float: left;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.game-individual__anchor {
  @extend %clearfix-micro;
  display: block;
  img {
    border-radius: $border-radius;
    border: 3px solid #fff;
    box-shadow: 0 0 2px 2px rgba(#888,.1);
    width: 100%;
  }
  &:hover {
    img {
      transition-property: border-color;
      transition-duration: 250ms;
      border-color: #fff;
    }
    .game-individual__play-button {
      transition-property: bottom;
      transition-duration: 250ms;
      bottom: 40%;
    }
  }
  &.game-individual__anchor--playable {
    img {
      border-color: $highlight-color;
    }
    &:hover {
      img {
        border-color: darken($highlight-color, 20%);
      }
    }
  }
}

.game-individual__image-container {
  @include inset(right, normal);
  @include inset(bottom, normal);
  position: relative;
  float: left;
  overflow: hidden;
  width: 30%;
}

.game-individual__image-container__inner {
  position: relative;
}

.game-individual__play-button {
  @extend %button;
  box-shadow: 0 0 5px 5px rgba(#fff,.6);
  display: inline-block;
  position: absolute;
  bottom: -100%;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  text-align: center;
}

.game-individual__details-container {
  height: 175px;
  overflow: hidden;
  position: relative;
}

.game-individual__title {
  @extend %white-drop-shadow;
  @include font-size(18);
  @include pad(bottom, small);
  font-weight: 500;
}

.game-individual__description {
  @include pad(bottom, small);
  line-height: 1.15em;
  max-height: 8em;
  overflow: hidden;
}

.game-individual__edit {
  @extend .small-tracked-out-heading;
  @include inset(top, small);
  color: $link-color;
  display: block;
  text-align: center;
  i {
    padding-left: 2px;
    vertical-align: middle;
  }
  @media screen and (max-width: 1100px) {
    i {
      display: none;
    }
  }
}

.home__new-game-button-container {
  @include inset(bottom, mid);
  text-align: center;
}
.home__new-game-button-container__inner {
  @extend %highlight-box;
  @include pad(all, normal);
  display: inline-block;
  text-align: center;
}

.home__new-game-button {
  @extend %button;
  i {
    padding-right: 4px;
  }
}
