// Masthead

.masthead {
  @include background(linear-gradient(#fffdf9, #fffdf2));
  background-color: #fffdf9;
  border-bottom: 1px solid #d6c8a9;
  box-shadow: 0 0 5px 5px rgba(#888,.1);
  margin-bottom: 40px;
  position: relative;
}

.masthead__inner {
  @include clearfix;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
}

.masthead__logo {
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  display: block;
  margin: 0;
  text-indent: -9999em;
  width: 96px;
  height: 84px;
  position: absolute;
  top: -3px;
  left: -6px;
}

.masthead__tab {
  background-color: #fffbf3;
  border: 1px solid #d6c8a9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0 3px 3px rgba(#888,.1);
  color: #594c38;
  display: inline-block;
  margin-top: -1px;
  margin-left: -90px;
  padding: 5px 0 16px;
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 26px;
  text-align: center;
  width: 200px;
  em {
    border-bottom: 1px dashed #3c7424;
    font-style: normal;
    padding-bottom: 2px;
  }
  span {
    -webkit-font-smoothing: antialiased;
    color: #a9b24b;
    font-size: 38px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
  }
}

.masthead__links {
  @extend %clearfix-micro;
  float: right;
  list-style-type: none;
  margin: 0;
}

.masthead__link {
  float: left;
  padding-left: 14px;
  padding-right: 14px;
}

.masthead__link-anchor {
  color: #9a875e;
  text-decoration: none;
  i {
    color: #a9b24b;
    padding-right: 3px;
  }
  &:hover {
    color: #594a29;
    span {
      border-bottom: 1px dashed #1d1111;
      padding-bottom: 2px;
    }
  }
}