// Masthead

// Keyframing

@keyframes masthead {
  0% {
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -moz-opacity: 1;
    opacity: 1;
  }
}

@keyframes masthead-tab {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0;
  }
}

%header-tab {
  @include font-size(22);
  background-color: #fffbf3;
  border: {
    left: 1px solid $border-color;
    right: 1px solid $border-color;
    bottom: 1px solid $border-color;
  }
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0 3px 3px rgba(#888,.1);
  display: inline-block;
  font-weight: 500;
  padding: 20px 16px;
}

.masthead {
  background-color: $highlight-background-color;
  @include background-image(linear-gradient($highlight-background-color, #fffdf2));
  border-bottom: 1px solid $border-color;
  box-shadow: 0 0 10px 5px rgba(#888,.1);
  position: relative;

  // Call animation
  animation-name: masthead;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-iteration-coun: 1;
}

.masthead__inner {
  @extend %clearfix-micro;
  @include pad(vert, smaller);
  @include pad(horz, normal);
  max-width: $container-max-width;
  min-width: 920px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  position: relative;
  min-height: 53px;
  @media screen and (max-width: 1550px) {
    width: 100%;
    max-width: 100%;
    padding-left: 100px;
  }
}

.masthead__logo {
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999em;
  width: 96px;
  height: 84px;
  position: absolute;
  top: -3px;
  left: -6px;
  z-index: 10;
}

.masthead__links,
.header__links {
  @extend %clearfix-micro;
  @extend .small-tracked-out-heading;
  float: right;
  list-style-type: none;
  padding-top: 6px;
}

.masthead__link,
.header__link {
  float: left;
  padding-left: 14px;
  padding-right: 14px;
  @media screen and (max-width: 1300px) {
    .header__link-truncate { display: none; }
  }
  @media screen and (max-width: 1200px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.masthead__link-anchor,
.header__link-anchor {
  color: #9a875e;
  text-decoration: none;
  &:hover {
    color: $text-color;
    border-bottom: 1px dashed #111;
    padding-bottom: 2px;
  }
}

.masthead__link-icon,
.header__link-icon {
  @include font-size(12);
  color: $highlight-color;
  padding-right: 8px;
}


// Page header

.heading {
  @include inset(bottom, larger);
  text-align: center;
  position: relative;
  margin-top: -55px;
  h1 {
    @extend %header-tab;
  }
}

// Gameplay header

.header__title {
  @extend %white-drop-shadow;
  @include font-size(22);
  color: $link-color;
  float: left;
  font-weight: 500;
}

.header__more-info {
  float: left;
  padding-left: 8px;
  padding-top: 5px;
  position: relative;
  i {
    @include font-size(16);
    color: $highlight-color;
    cursor: pointer;
    &:hover {
      color: $highlight-color-darker;
    }
  }
}

.header__description {
  @extend %white-drop-shadow;
  @include pad(all, small);
  @include background-image(linear-gradient($highlight-background-color, #fbf3e2));
  border: 1px solid #d7d5af;
  border-radius: 5px;
  box-shadow: 0 0 8px 3px rgba(#888,.1);
  display: inline-block;
  line-height: 1.15;
  margin-left: -175px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 350px;
  z-index: 5;
}

.header__centre-title {
  @extend %header-tab;
  @extend %white-drop-shadow;
  position: absolute;
  top: 0;
  left: 50%;
  // Approximate the offset as a no-JS fallback
  margin-left: -72px;

  // Call animation
  animation-name: masthead-tab;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.header__centre-title-word {
  border-bottom: 1px dashed #3c7424;
  letter-spacing: .1em;
  padding-bottom: 2px;
  text-transform: uppercase;
}

.header__centre-title-number {
  @include font-size(36);
  color: $highlight-color;
  font-weight: 500;
  line-height: 0;
  padding-left: 6px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -10px;
}
