// Modal

// Class applied to the html element to stop background scrolling
.modal-is-active {
  overflow: hidden;
  & > body { overflow: hidden; }
}

.modal {
  @include pad(all, huge);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(#1a1814,.8);
  overflow-y: scroll;
  text-align: center;
  z-index: 200;
}

.modal--hidden,
.modal--visible {
  transition-property: all;
  transition-duration: 120ms;
}
  .modal--hidden {
    padding: 0;
    bottom: auto;
    opacity: 0;
  }
  .modal--visible {
    opacity: 1;
  }

.modal__wrapper {
  height: 100%;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.modal__capture {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.modal__inner {
  @extend %clearfix-micro;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inline-block;
  max-width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  vertical-align: middle;
}

  .move__thing-modal {
    width: 460px;
    &.metadata-is-visible {
      transition-property: width;
      transition-duration: 250ms;
      width: 650px;
    }
    &.metadata-is-not-visible {
      transition-property: width;
      transition-duration: 250ms;
      width: 460px;
    }
    &.modal--large-image-visible {
      width: auto;
    }
  }

.move__thing__modal__button {
  @include font-size(14);
  @include pad(all, small);
  background-color: $highlight-color;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(#000,.2);
  cursor: pointer;
  position: absolute;
  top: -11px;
  right: -11px;
  width: 23px;
  height: 23px;
  z-index: 200;
  i {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(#000,.5);
    position: absolute;
    top: 4px;
    left: 6px;
  }
}

// Image modal

.move__thing-modal__image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.move__thing-modal__large-image {
  display: none;
}

.move__thing-modal__zoom-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background-color: $highlight-color;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 5px rgba(#000,.2);
  color: #fff;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 25px;
  height: 25px;
  text-shadow: 1px 1px 1px rgba(#000,.5);
  em {
    display: none;
  }
  &:after {
    @include font-size(16);
    content: "\f00e";
    font-family: "FontAwesome";
    position: absolute;
    top: 4px;
    left: 5px;
  }
  &:hover {
    color: $highlight-color;
    background-color: #fff;
    text-shadow: none;
  }
}

.move__thing-modal__meta {
  background-color: $background-color;
}

.move__thing-modal__title {
  @extend .large-heading;
  @include font-size(20);
  @include pad(horz, normal);
  @include pad(top, normal);
  @include pad(bottom, tiny);
  line-height: 1;
  @media screen and (max-height: 600px) {
    @include font-size(18);
  }
}

.move__thing-modal__description {
  @include pad(horz, normal);
  line-height: 1.15;
  position: relative;
  // Little hide-y things
  &:before {
    @include linear-gradient(to top, rgba($background-color, 0), rgba($background-color, 1));
    content: "";
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &:after {
    @include linear-gradient(to bottom, rgba($background-color, 0), rgba($background-color, 1));
    content: "";
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @media screen and (max-height: 600px) {
    @include font-size(14);
  }
}

.move__thing-modal__description__inner {
  max-height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
}

.move__thing-modal__wrapper {
  border-radius: $border-radius;
  box-shadow: 0 0 100px 10px rgba(#000,.5);
  overflow: hidden;
}

.move__thing-modal__body {
  background-color: $text-color;
  position: relative;
  overflow: hidden;
}

.move__thing-modal__attribute-toggle {
  @include pad(all, normal);
  @extend .small-tracked-out-heading;
  color: $link-color;
  cursor: pointer;
  &:after {
    font-family: "FontAwesome";
    content: "\f0d7";
    padding-left: 5px;
  }
}

.move__thing-modal__attribute-toggle--toggled {
  &:after {
    content: "\f0d8";
  }
}

.move__thing-modal__attributes {
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 150ms;
  .metadata-is-not-visible & {
    max-height: 0;
  }
  .metadata-is-visible & {
    max-height: 600px;
  }
}

.move__thing-modal__attribute-row {
  @extend %clearfix-micro;
  @include pad(horz, normal);
  border-top: 1px solid $border-color;
  padding-top: 5px;
  padding-bottom: 5px;
  &:nth-child(odd) {
    background-color: darken($background-color, 2%);
  }
  &:last-child {
    @include inset(bottom, normal);
  }
}

.move__thing-modal__attribute {
  h2 {
    @extend .small-tracked-out-heading;
    color: $link-color;
    display: inline;
    padding-right: 4px;
  }
  .move__thing-modal__attribute-text {
    @include font-size(14);
  }
}

.modal__actions {
  @include pad(all, smaller);
  @include linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, .2) 50%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.move__thing-modal__place-button {
  @include inset(top, mid);
  box-shadow: 0 0 20px 5px rgba(#fff,.3);
  &:hover {
    transform: scale(1.05);
    transition-property: scale;
    transition-duration: 100ms;
  }
}

// Add resemblances modal

.move__resemblance__edit {
  @include pad(all, mid);
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: 0 0 100px 10px rgba(#000,.5);
  text-align: center;
  width: 740px;
  p {
    @include font-size(18);
    @extend %white-drop-shadow;
    font-weight: 600;
    line-height: 1.2;
  }
  strong {
    color: $link-color;
  }
}

.move__resemblance__edit-form {
  input::placeholder {
    text-align: center;
  }
}

// Show large images

.modal--large-image-visible {
  .move__thing-modal__browse-image,
  .move__thing-modal__meta {
    display: none;
  }
  .move__thing-modal__large-image {
    display: block;
    max-height: 100%;
  }
  .modal__wrapper {
    @include pad(all, huge);
    top: 0;
    transform: translate(0,0);
    height: 100%;
  }
  .move__thing-modal__zoom-toggle {
    &:after {
      content: "\f010";
    }
  }
}
