// Modal

// Class applied to the html element to stop background scrolling
.modal-is-active {
  overflow: hidden;
  & > body { overflow: hidden; }
}

.modal {
  @include pad(all, huge);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(#000,.8);
  overflow-y: scroll;
  z-index: 200;
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: 0;
  right: 0;
}

.modal__inner {
  @extend %clearfix-micro;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 90%;
  width: 460px;
  margin-top: 20px;
  margin-bottom: 20px;
  &.metadata-is-visible {
    transition-property: width;
    transition-duration: 250ms;
    width: 650px;
  }
  &.metadata-is-not-visible {
    transition-property: width;
    transition-duration: 250ms;
    width: 460px;
  }
}

.move__thing__modal__button {
  @include font-size(14);
  @include pad(all, small);
  background-color: $highlight-color;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(#000,.2);
  cursor: pointer;
  position: absolute;
  top: -11px;
  right: -11px;
  width: 23px;
  height: 23px;
  z-index: 200;
  i {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(#000,.5);
    position: absolute;
    top: 4px;
    left: 6px;
  }
}

// Image modal

.move__thing-modal__image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.move__thing-modal__image--toggled {
  transition-property: scale;
  transition-duration: 250ms;
  transform: scale(1.05);
}

.move__thing-modal__title {
  @extend .large-heading;
  @include font-size(20);
  @include pad(horz, normal);
  @include pad(top, normal);
  @include pad(bottom, small);
  line-height: 1;
  @media screen and (max-height: 600px) {
    @include font-size(18);
  }
}

.move__thing-modal__description {
  @include pad(horz, normal);
  line-height: 1.15;
  @media screen and (max-height: 600px) {
    @include font-size(14);
  }
}

.move__thing-modal__wrapper {
  border-radius: $border-radius;
  background-color: $background-color;
  box-shadow: 0 0 100px 10px rgba(#000,.5);
}

.move__thing-modal__body {
  background-color: $text-color;
  border-top-left-radius: $border-radius-inner;
  border-top-right-radius: $border-radius-inner;
  position: relative;
  overflow: hidden;
}

.move__thing-modal__attribute-toggle {
  @include pad(all, normal);
  @extend .small-tracked-out-heading;
  color: $link-color;
  cursor: pointer; 
  &:after {
    font-family: "FontAwesome";
    content: "\f0da";
    padding-left: 5px;
  }
}

.move__thing-modal__attribute-toggle--toggled {
  &:after {
    content: "\f0d7";
  }
}

.move__thing-modal__attributes {
  @include pad(bottom, normal);
}

.move__thing-modal__attribute-row {
  @extend %clearfix-micro;
  @include pad(horz, normal);
  border-top: 1px solid $border-color;
  padding-top: 5px;
  padding-bottom: 5px;
  &:nth-child(odd) {
    background-color: darken($background-color, 2%);
  }
}

.move__thing-modal__attribute {
  h2 {
    @extend .small-tracked-out-heading;
    color: $link-color;
    display: inline;
    padding-right: 4px;
  }
  .move__thing-modal__attribute-text {
    @include font-size(14);
  }
}

.modal__actions {
  @include pad(all, smaller);
  @include linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, .2) 50%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.move__thing-modal__place-button {
  @include inset(top, mid);
  box-shadow: 0 0 20px 5px rgba(#fff,.3);
}

// Add resemblances modal

.move__resemblance__edit {
  @include pad(all, mid);
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: 0 0 100px 10px rgba(#000,.5);
  text-align: center;
  p {
    @include font-size(18);
    @extend %white-drop-shadow;
    font-weight: 600;
    line-height: 1.2;
  }
  strong {
    color: $link-color;
  }
}

.move__resemblance__edit-form {
  @include pad(top, mid);
  text-align: center;
  input {
    width: 80%;
  }
}
