// Moves

.move__board {
  @include pad(top, large);
  position: relative;
}

.move__board__canvas {
  height: 300px;
  width: 100%;
  position: relative;
}
.move__board__node,
.move__board__links,
.move__board__resemblences,
.move__board__resemblance {
  position: absolute;
}

.move__board__node {
  background-color: #faf0dc;
  border: 2px solid #fff;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 5px rgba(#999,.1);
  width: 120px;
  height: 120px;
  margin-left: -60px;
  text-align: center;
}

.move__board__node--playable {
  border: 2px dashed #b99f7a;
  &:before,
  &:after {
    @extend %white-drop-shadow;
    font-family: "FontAwesome";
    color: #b99f7a;
  }
  &:before {
    @include font-size(40);
    content: "\f030";
    padding-top: 50%;
    margin-top: -18px;
    display: inline-block;
  }
  &:after {
    @include font-size(20);
    content: "\f067";
    position: absolute;
    top: 25px;
    right: 25px;
  }
  img {
    display: none;
  }
}

.move__board__node__image {
  border-radius: $border-radius-inner;
  width: 100%;
  height: 100%;
}

@keyframes glow {
  0%, 100%    { box-shadow: 0 0 3px 3px $highlight-color; }
  50%         { box-shadow: 0 0 8px 8px $highlight-color; }
}

.move__board__resemblance__filled {
  @extend %button;
  @include font-size(16);
  letter-spacing: 0;
  text-transform: none;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 30px;
    height: 30px;
    background-color: $highlight-color;
    position: absolute;
    margin-left: -15px;
    margin-top: -15px;
    border-radius: 50%;
    animation-name: glow;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    z-index: -1;
  }
}

.move__actions {
  text-align: right;
}

.move__actions__button {
  @extend %button;
  i {
    padding-right: 2px;
  }
}
