// Moves
.move__graph {
  width: 100%;
  height: 500px;
}

.move__gallery__selected {
  @include pad(all, medium);
  background-color: rgba(#000,.8);
  border: 3px solid #fff;
  border-radius: $border-radius;
  box-shadow: 0 0 20px 5px rgba(#000,.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.move__gallery__selected-heading {
  @include font-size(18);
  @include pad(bottom, medium);
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.move__thing-modal__place-button {
  @extend %button;
  i {
    padding-right: 2px;
  }
}

.move__actions {
  text-align: right;
}

.move__actions__button {
  @extend %button;
  i {
    padding-right: 2px;
  }
}

.move__edit__resemblance {
  strong {
    color: $highlight-color-darker;
    font-weight: bold;
  }
}

.move__edit__resemblance__close-button {
  @extend %button--alternate;
}