// Players

.game__players {
  position: absolute;
  top: 20px;
  right: 0;
}

.game__player {
  background-color: #f3e7cf;
  border-radius: $border-radius;
  padding: 6px 10px;
  cursor: pointer;
  img {
    background-color: $highlight-background-color;
    border-radius: 50%;
    border: 2px solid $border-color;
    box-shadow: 0 0 3px 3px rgba(#fff,.4);
    &:hover {
      -webkit-transform: scale(1.1);
      -webkit-transition-property: scale;
      -webkit-transition-duration: 250ms;
    }
  }
  span {
    @extend .small-tracked-out-heading;
    @include font-size(16);
    display: block;
    text-align: center;
    i {
      @include font-size(12);
      color: #e0c21c;
    }
  }

  .game__player__details {
    cursor: pointer;
    position: relative;
    em {
      @extend %white-drop-shadow;
      background-color: $highlight-background-color;
      @include background-image(linear-gradient($highlight-background-color, #fffdf2));
      border: 1px solid #eee0c1;
      box-shadow: 0 0 10px 5px rgba(#888,.1);
      border-radius: $border-radius;
      padding: 6px;
      display: none;
    }
    &:hover {
      em {
        display: inline-block;
        position: absolute;
        bottom: -20px;
        left: -35px;
      }
    }
  }
}

.player--highlighted {
  background-color: #fef0d4;
  img {
    border: 2px solid darken($border-color, 10%);
  }
}
