// Players

.game__players {
  position: absolute;
  top: 0;
  right: 20px;
}

.game__player {
  background-color: #f3e7cf;
  padding: 6px 10px;
  &:last-child {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .game__player__details {
    cursor: pointer;
    position: relative;
    em {
      @extend %white-drop-shadow;
      background-color: $highlight-background-color;
      @include background-image(linear-gradient($highlight-background-color, #fffdf2));
      border: 1px solid #eee0c1;
      box-shadow: 0 0 10px 5px rgba(#888,.1);
      border-radius: $border-radius;
      padding: 6px;
      display: none;
    }
    &:hover {
      em {
        @extend %white-drop-shadow;
        color: $link-color;
        display: inline-block;
        position: absolute;
        bottom: -20px;
        right: 0;
        z-index: 10;
        font-weight: 600;
        strong {
          @extend .small-tracked-out-heading;
          background-color: $text-color;
          border-radius: $border-radius;
          color: #fff;
          padding: 3px;
          text-shadow: 1px 1px 1px rgba(#000,.4);
          white-space: nowrap;
          margin-left: 8px;
        }
      }
    }
  }
}

.game__player--icon {
  text-align: center;
  i {
    @include font-size(40);
    color: $highlight-color;
  }
}

.game__player__details__avatar {
  @extend %white-drop-shadow;
  @include font-size(28);
  background-color: $subtle-highlight;
  border-radius: 50%;
  border: 2px solid $border-color;
  box-shadow: 0 0 3px 3px rgba(#fff,.4);
  display: block;
  color: $border-color;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 2;
  &:hover {
    -webkit-transform: scale(1.1);
    -webkit-transition-property: scale;
    -webkit-transition-duration: 250ms;
  }
}

.player--highlighted {
  background-color: #fef0d4;
  .game__player__details__avatar {
    border: 2px solid darken($border-color, 10%);
  }
}

.game__player__details__score {
  @extend .small-tracked-out-heading;
  @include font-size(16);
  text-align: center;
  padding-top: 3px;
  display: inline-block;
  width: 100%;
  i {
    @include font-size(12);
    color: #e2bc24;
    text-shadow: 1px 1px 1px darken(#f5cd2e,10%);
    padding-right: 2px;
  }
}