// Profiles

.profile {
  @extend %clearfix-micro;
  @include pad(all, normal);
  background-color: $highlight-background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 5px rgba(#888,.1);
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.profile__avatar-container {
  float: left;
  margin-right: 5%;
  width: 35%;
}

.profile__avatar {
  cursor: pointer;
}

.profile__avatar-title {
  @extend .small-tracked-out-heading;
  @include pad(bottom, small);
  text-align: center;
}

.profile__avatar-container__inner {
  @include pad(all, small);
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  text-align: center;
  img {
    @include pad(all, small);
    border: 1px dashed $border-color;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.profile__meta-data {
  float: left;
  width: 60%;
  label {
    @extend .small-tracked-out-heading;
    cursor: pointer;
    margin-left: 0;
    padding-bottom: 3px;
    text-align: left;
    width: 100%;
  }
  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea {
    width: 100%;
  }
  textarea {
    height: 80px;
  }
}

.profile__update-button {
  @extend %button;
  margin-left: 0 !important;
}