// Rating

.rating__info {
  @include pad(bottom, medium);
  text-align: center;
}

.rating__info__inner {
  @extend %white-drop-shadow;
  background-color: $highlight-background-color;
  @include background-image(linear-gradient($highlight-background-color, #fffdf2));
  @include font-size(20);
  @include pad(all, smaller);
  border: 1px solid #d7d5af;
  box-shadow: 0 0 10px 5px rgba(#888,.1);
  border-radius: $border-radius;
  font-weight: 500;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  em {
    color: $link-color;
  }
}

.rating__nav {
  @include pad(top, tiny);
  @include pad(bottom, smaller);
  text-align: center;
  position: relative;
}

.rating__nav__links {
  display: inline-block;
  text-align: center;
  padding-top: 5px;
}

.rating__nav__link {
  color: $border-color;
  float: left;
  padding-left: 1px;
  padding-right: 1px;
  margin-right: 8px;
  &:first-child {
    padding-left: 260px;
  }
  &:hover {
    a {
      color: $highlight-color;
    }
  }
}

.rating__nav__link--current {
  color: $highlight-color;
}

.rating__nav__next,
.rating__nav__back {
  @extend %button;
  margin-top: -1px;
  i {
    @include font-size(12);
    padding-left: 4px;
  }
}

.rating__nav__next-text,
.rating__nav__next {
  float: right;
}

.rating__nav__back {
  float: left;
  i {
    padding-left: 0;
    padding-right: 4px;
  }
}

.rating__nav__next--disabled {
  filter:          alpha(opacity=30);
  -webkit-opacity: 0.3;
  -moz-opacity:    0.3;
  opacity:         0.3;
  pointer-events: none;
}

.rating__rate {
  @include pad(top, medium);
  @include pad(bottom, small);
  position: absolute;
  top: 30px;
  right: 0;
  width: 100px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    @extend %white-drop-shadow;
    background-color: $highlight-background-color;
    @include background-image(linear-gradient($highlight-background-color, #fffdf2));
    border: 1px solid #d7d5af;
    box-shadow: 0 0 10px 5px rgba(#888,.1);
    border-radius: $border-radius;
    color: $link-color;
    font-weight: 500;
    display: block;
    margin-top: -2px;
    padding: 4px 6px;
    position: absolute;
  }
  &:before {
    content: "Meh";
    bottom: -31px;
    left: -13px;
  }
  &:after {
    content: "Love it!";
    top: -9px;
    left: -23px;
  }
}
