// Results

.results {
  @extend %clearfix-micro;
  @include pad(top, large);
  @include pad(bottom, medium);
  .body-enter & {
    opacity: 0;
    transform:   translate(0,150px,0);
    transform: translate3d(0,150px,0);
  }
  .body-enter.body-enter-active & {
    opacity: 1;
    transform:   translate(0,0,0);
    transform: translate3d(0,0,0);
    transition-property: tranform, opacity;
    transition-duration: 180ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
    transition-delay: 250ms;
  }
  .body-leave & {
    opacity: 1;
    transform:   translate(0,0,0);
    transform: translate3d(0,0,0);
    transition-property: tranform, opacity;
    transition-duration: 180ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
  }
  .body-leave.body-leave-active & {
    opacity: 0;
    transform:   translate(0,150px,0);
    transform: translate3d(0,150px,0);
  }
}

.results__aside {
  @extend %clearfix-micro;
  float: right;
  width: 30%;
  @media screen and (max-width: 1100px) {
    width: 40%;
  }
}

.results__back-to-game {
  @extend %button;
  float: right;
  i {
    @include font-size(12);
    padding-right: 4px;
  }
}

.results__player-moves {
  @include pad(top, mid);
  float: left;
  width: 70%;
  @media screen and (max-width: 1100px) {
    width: 60%;
  }
}

.results__player-move {
  @extend %clearfix-micro;
  @include pad(bottom, mid);
}

.results__player-move__name {
  @extend .medium-heading;
  @include pad(vert, small);
  @include inset(bottom, smaller);
  display: block;
  text-align: center;
  position: relative;
  &:before {
    background-color: $border-color;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    z-index: -1;
  }
  em {
    @include pad(horz, smaller);
    background-image: image-url('bg-texture.gif');
    border-radius: 10px;
  }
}

.results__player-move__moves {
  @extend %clearfix-micro;
}

.results__move-result {
  @extend %clearfix-micro;
  .results__player-move__move {
    margin-left: 2%;
    margin-right: 2%;
    width: 48%;
    &:nth-child(odd) { margin-left: 0; }
    &:nth-child(even) { margin-right: 0; }
    @media screen and (max-width: 1100px) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.results__player-move__name-username {
  color: $link-color;
}

.results__player-move__move {
  @extend %clearfix-micro;
  @include inset(bottom, smaller);
  border: 1px solid $border-color;
  border-radius: $border-radius;
  border-top-left-radius: $border-radius-inner;
  border-top-right-radius: $border-radius-inner;
  background-color: #f8eac8;
  float: left;
}

.results__player-move__move--won {
  @extend %highlight-box;
  border-color: darken($border-color, 20%);
  .results__player-move__move__node-wrapper {
    background-color: #fff;
    border-color: darken($border-color, 20%);
  }
}

.results__player-move__move__sembl {
  @extend %white-drop-shadow;
  @include font-size(18);
  @include pad(horz, smaller);
  @include pad(vert, small);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.results__player-move__move__node-wrapper {
  background-color: darken($highlight-background-color, 4%);
  border-bottom-left-radius: $border-radius-inner;
  border-bottom-right-radius: $border-radius-inner;
  border-top: 1px solid $border-color;
  position: relative;
  &:after {
    background-color: $highlight-color;
    content: "";
    display: block;
    height: 3px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    z-index: 1;
  }
}

.results__player-move__move__node-wrapper__inner {
  @extend %clearfix-micro;
  @include pad(all, smaller);
  position: relative;
  z-index: 2;
}

.results__player-move__move__score {
  @include font-size(18);
  @include pad(all, small);
  background-color: #c6cc8a;
  border: 3px solid $highlight-color;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(#999,.1);
  color: #fff;
  display: inline-block;
  font-weight: 500;
  height: 60px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(#000,.5);
  width: 60px;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  i {
    color: #ffdc52;
    text-shadow: 1px 1px 1px darken(#f5cd2e,10%);
    padding-top: 2px;
    position: relative;
    &:after {
      position: absolute;
      top: 8px;
      left: 6px;
      content: "";
      width: 1px;
      height: 3px;
      background-color: #fff788;
      box-shadow: 0 0 2px 2px #fff788;
      border-radius: 50%;
    }
  }
  em {
    display: block;
  }
}

.results__player-move__move__source,
.results__player-move__move__target {
  background-color: #faf0dc;
  border: 2px solid $highlight-color;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 5px rgba(#999,.1);
  float: left;
  width: 120px;
  height: 120px;
  text-align: center;
  img {
    border-radius: $border-radius-inner;
    width: 100%;
    height: 100%;
  }
}

.results__player-move__move__target {
  border-color: #fff;
  float: right;
}

// Scores

.results__player-scores-wrapper {
  @include pad(top, medium);
  float: right;
  clear: both;
}

.results__player-scores,
.results__awards {
  @extend %clearfix-micro;
  background-color: $highlight-background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 5px rgba(#888,.1);
  width: 300px;
}

.results__player-scores-title,
.results__awards-title {
  @extend .small-tracked-out-heading;
  @include pad(all, small);
  background-color: lighten($text-color, 10%);
  border-top-left-radius: $border-radius-inner;
  border-top-right-radius: $border-radius-inner;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(#000,.4);
  i {
    color: #fff788;
    padding-right: 4px;
  }
}

.results__player-score {
  @extend %clearfix-micro;
  border-bottom: 1px dashed $border-color;
  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: $border-radius-inner;
    border-bottom-right-radius: $border-radius-inner;
    .results__player-score__score {
      border-bottom-right-radius: $border-radius-inner;
    }
  }
}

.results__player-score--you {
  color: $link-color;
}

.results__player-score__name {
  @include pad(horz, small);
  @include truncate;
  float: left;
  font-weight: 600;
  text-align: left;
  width: 70%;
  em {
    line-height: 2.5;
  }
}

.results__player-score__score {
  @extend %white-drop-shadow;
  @include font-size(18);
  @include pad(all, small);
  background-color: darken($highlight-background-color, 4%);
  color: $link-color;
  font-weight: 600;
  float: right;
  i {
    color: #ffdc52;
    text-shadow: 1px 1px 1px darken(#ffdc52, 20%);
    padding-right: 4px;
  }
}

// Awards

.results__awards-wrapper {
  @include pad(top, medium);
  float: right;
}

.results__awards {
  width: 300px;
}

.results__awards--fetching {
  @include pad(all, smaller);
}

.results__award {
  @extend %clearfix-micro;
  @include pad(all, small);
  border-bottom: 1px solid $border-color;
  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: $border-radius-inner;
    border-bottom-right-radius: $border-radius-inner;
  }
  &:nth-child(even) {
    background-color: darken($highlight-background-color, 4%);
  }
}

.results__award__icon {
  @include inset(right, smaller);
  @include inset(bottom, smaller);
  border: 2px solid $border-color;
  float: left;
}

.results__award__name {
  @extend .small-tracked-out-heading;
  background-color: darken($highlight-color, 10%);
  border-radius: $border-radius;
  color: #fff;
  display: inline-block;
  padding: 3px;
  text-shadow: 1px 1px 1px rgba(#000,.4);
  white-space: nowrap;
}

.results__award__player {
  color: $link-color;
  display: block;
  font-weight: 600;
  padding-top: 6px;
  padding-bottom: 5px;
}

.results_award__result-name {
  font-weight: bold;
}