.upload__progress-bar {
  width: 100%;
  height: 7px;
  border: 1px, solid, #ccc;
}

.upload__progress-bar__pct {
  background: red;
}

// User upload

.setup__steps__inner {
  background-color: $highlight-background-color;
}

.setup__steps__upload-fields--disabled {
  button {
    opacity: 0.5;
    pointer-events: none;
  }
}

.games-show .modal__inner {
  .setup__steps__upload {
    width: 660px;
  }
  .setup__steps__title {
    @extend .small-tracked-out-heading;
    background-color: $text-color;
    border-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(#000,.2);
  }
  .setup__steps__upload {
    background-color: $highlight-background-color;
    @include background-image(linear-gradient($text-color 0, $highlight-background-color 50%));
    border-radius: $border-radius;
    overflow: hidden;
  }
  .setup__steps__upload-step__input {
    width: 100%;
  }
  .setup__steps__upload-step {
    @include pad(bottom, small);
    &:last-child {
      text-align: center;
    }
  }
  .setup__steps__upload-step__label {
    padding-bottom: 3px;
  }
  .setup__steps__upload-step__submit {
    margin-left: 0;
  }
  .setup__steps__uploads__available {
    display: none;
  }
  .setup__steps__upload__uploader__image {
    max-height: 150px;
  }
  .games__gallery__thing:hover,
  .games__gallery__thing:focus {
    &:before {
      border: none;
    }
    img,
    .games__gallery__overlay {
      border: none;
      transform: none;
    }
  }
}
