.upload__progress-bar {
  width: 100%;
  height: 7px;
  border: 1px, solid, #ccc;
}

.upload__progress-bar__pct {
  background: red;
}


// User upload
.setup__steps__inner {
  background-color: #fff9ea;
}

.setup__steps__upload-fields--disabled {
  button {
    opacity: 0.5;
  }
}
