.game-board
  .node
    stroke: #fff
    stroke-width: 4px

  .label
    fill: #fff
    font-size: 20px
    text-anchor: middle
    cursor: default
    user-select: none
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none

  .link
    stroke: #999
    stroke-width: 4px
