@import bootstrap

body
  position: relative
  padding-top: $navbarHeight

.content
  margin-top: ($baseLineHeight / 2)

  > header
    @extend .clearfix
    border-bottom: 1px solid $grayLighter
    margin-bottom: $baseLineHeight
    line-height: ($baseLineHeight * 2) // same as h1
    .heading
      @extend .pull-left
    .actions
      @extend .pull-right
      margin: ($baseLineHeight / 2) 0 // same as h1

table.index
  td.image, th.image
    width: 100px + 2 * 5px
    text-align: center
    vertical-align: middle
    img
      @extend .thumbnail
      display: inline-block
      max-width: 100px
      max-height: 100px
  th.actions, td.actions
    vertical-align: middle
    white-space: nowrap
    width: 1%

.admin
  .simple_form
    .image_file
      img
        @extend .thumbnail
        max-width: 300px
        max-height: 200px


.footer
  border-top: 1px solid $grayLighter
  margin-top: ($baseLineHeight / 2)
  padding-top: ($baseLineHeight / 2)

.controls.static
  padding-top: 5px // same as control-label
