// Import dependencies

@import "bourbon/bourbon";
@import "font-awesome/_font-awesome";
@import "image_area_select";

// Variables

$background-color: #f7efe0;
$text-color: #594c38;
$border-radius: 4px;
$border-radius-inner: 3px; // Should be the value of $border-radius - 1;
$border-color: #d6c8a9;
$container-max-width: 1400px;
$highlight-background-color: #fffdf9;
$highlight-color: #a9b24b;
$link-color: #2f7c87;
$link-hover-color: #111;

// Placeholders

%white-drop-shadow {
  text-shadow: 1px 1px 1px #fff;
}

%uppercase-heading {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
}

%highlight-box {
  background-color: $highlight-background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 5px rgba(#888,.1);
}

%button {
  @extend .small-tracked-out-heading;
  @include background(linear-gradient(#8b923b, #657220));
  border-radius: $border-radius;
  border: 1px solid #657220;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-size: 1.4rem;
  text-shadow: 1px 1px 1px rgba(#000,.5);
  padding: 6px 15px 5px;
  &:hover {
    @include background(none);
    background-color: #657220;
  }
}

.small-tracked-out-heading {
  @extend %uppercase-heading;
  @extend %white-drop-shadow;
}

// Game

.content {
  .game {
    .board {
      position: relative;
      padding: 60px;
      border: 1px solid green;
      .board__nodes, .board__links, .board__resemblences {
        position: absolute;
      }

      .board__node {
        width: 60px;
        height: 60px;
        margin: -30px;
        background: #c77e1a;
        border-radius: 15%;
      }

      .board__links {
        border: 1px solid lightgreen;
      }

      canvas {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// Import components and patterns

@import "forms";
@import "common";
@import "patterns/_accessibility";
@import "patterns/_clearing";
@import "patterns/_font-size";
@import "patterns/_media-queries";
@import "patterns/_reset";
@import "patterns/_spacing-classes";
@import "patterns/_touch";
@import "patterns/_type";
@import "components/base";
@import "components/masthead";
@import "components/game_form";
@import "components/search";
@import "components/gameboard";

// Call patterns

@include reset();
