// Import dependencies

@import "bourbon/bourbon";
@import "image_area_select";

// Variables

$background-color: #f7efe0;
$text-color: #594c38;
$border-radius: 3px;
$border-radius-inner: $border-radius - 1; // Should be the value of $border-radius - 1;
$border-color: #d6c8a9;
$container-max-width: 1400px;
$highlight-background-color: #fffdf9;
$highlight-color: #a9b24b;
$highlight-color-darker: darken($highlight-color, 10%);
$link-color: #2f7c87;
$link-hover-color: #111;
$subtle-highlight: #f8f1e0;

$rating-very-low: #ced1b2;
$rating-low: #c8cf81;
$rating-medium: #919753;
$rating-high: #9ba532;
$rating-very-high: #aab81d;

// Call patterns
@import "patterns/_accessibility";
@import "patterns/_clearing";
@import "patterns/_font-size";
@import "patterns/_media-queries";
@import "patterns/_reset";
@import "patterns/_spacing-classes";
@import "patterns/_touch";
@import "patterns/_type";
@include reset();

// Import components and patterns

@import "components/mixins";
@import "forms";
@import "common";
@import "components/base";
@import "components/copy";
@import "components/animations";
@import "components/gallery";
@import "components/game_form";
@import "components/gameboard";
@import "components/graph";
@import "components/home";
@import "components/masthead";
@import "components/modal";
@import "components/move";
@import "components/players";
@import "components/rating";
@import "components/results";
@import "components/upload";
@import "components/setup";
@import "components/jquery.nouislider";
@import "components/profiles";
@import "components/slide_viewer";
@import "components/pagination";

